<!DOCTYPE html>
<html>
    <head>
        <title>About us | Weather Service</title>
        <link href="./css/styles.css" rel="stylesheet" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Today's Weather</h1>
        </div>
        {{>footer}}
    </body>
</html>